a,
a:hover {
  text-decoration: none !important;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.main-block {
  margin-top: 0;
  width: auto;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;

}

.beatmap-banner {
    background-color: hsl(var(--main), 30%, 50%);
    height: 194px;
    border-radius: 0;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.player-grade {
    display: inline-block;
    background-size: 100%;
    margin-right: 4px;
    width: 20px;
    height: 20px;
    margin-bottom: -6px;
    transition: 0.2s filter ease-out, 0.2s box-shadow ease-out;
    border-radius: 2px;
  }

.main-banner {
    background-size: cover;
    display: flex;
    background-position-x: 50%;
    align-items: center;
    flex-direction: column;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    justify-content: space-between;
    position: relative;
    height: 245px;
  }

  .main-banner > * {
    z-index: 2;
  }

  .banner-text {
    font-size: 46px;
    color: #fff;
    font-weight: 600;
  }

  .main-banner::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    z-index: 1;
  }

  .main-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 46px;
    color: #fff;
    font-size: 14px;
    justify-content: center;
    position: relative;
    background: hsl(var(--main), 25%, 22%);
  }

  .diff-selector {
    background: hsl(var(--main), 16%, 20%);
  }

  .mode-select {
    cursor: pointer;
    text-align: left;
    padding-bottom: 2px;
    color: #fff;
    font-size: 15px;
    margin-left: 12px;
    opacity: 0.7;
    transition: 0.2s ease;
    content: left;
    padding: 6px 10px;
    border-radius: 12px;
  }

  .mode-select:hover {
    border-bottom-width: 3px;
    opacity: 1;
    color: #fff;
    background-color: #ffffff10;
  }

  .mods-select {
    cursor: pointer;
    text-align: right;
    padding-bottom: 2px;
    color: #fff;
    font-size: 15px;
    margin-left: 12px;
    opacity: 0.7;
    transition: 0.2s ease;
    content: right;
    padding: 6px 10px;
    border-radius: 12px;
  }

.right {
  margin-left: auto;
  display: flex;
  flex-direction: row;
}

.left {
  display: flex;
  flex-direction: row;
}
  .mods-select:hover {
    border-bottom-width: 3px;
    opacity: 1;
    color: #fff;
    background-color: #ffffff20;
  }

  .selector {
    display: flex;
    align-items: flex-end;
    position: relative;
    height: 27px;
    z-index: 2;
    width: 100%;
  }

  .selector .right {
    margin-left: auto;
    display: flex;
    flex-direction: row;
  }

  .selector .left {
    display: flex;
    flex-direction: row;
  }

  .simple-banner-switch {
    color: #fff !important;
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.33);
    padding: 0 12px;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.3s ease;
    font-size: 14px;
    margin: 10px 8px;
  }

  .simple-banner-switch:hover {
    opacity: 1;
  }

  .mode-select.active,
  .mods-select.active,
  .simple-banner-switch.active {
    border-bottom-width: 6px;
    opacity: 1;
    font-weight: 600;
    background-color: #ffffff10;
  }

  .main-selector {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }

  .leaderboard-table > tbody {
    transition: 0.2s opacity;
  }

  .disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.2;
  }

  @media (max-width: 576px) {
    .mode-icon {
      display: none;
    }
    .banner-text {
      font-size: 36px;
    }
  }

  .player-mini-image {
    display: inline-block;
    background-size: 100%;
    margin-right: 10px;
    width: 30px;
    height: 27px;
    margin-bottom: -10px;
    transition: 0.2s filter ease-out, 0.2s box-shadow ease-out;
    border-radius: 5px;
  }

  .map-name {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    text-align: center;
    padding: 20;
  }

  .player-flag {
    display: inline-block;
    background-size: 100%;
    margin-right: 4px;
    width: 30px;
    height: 20px;
    margin-bottom: -6px;
    transition: 0.2s filter ease-out, 0.2s box-shadow ease-out;
    border-radius: 2px;
    margin-right: 13;
  }

  .flag-dropdown {
    margin-top: -41px;
    margin-left: -41px;
  }
  .popover-body, .tooltip-inner, .flag-dropdown {
    font-size: 12px;
  }
  .flag-dropdown, .noUi-tooltip {
    background-color: hsl(var(--main), 15%, 5%) !important;
    filter: opacity(0.95);
    border-radius: 4px;
    padding: 5px;
    color: white;
    font-size: 13px;
    position: absolute;
    padding-left: 14px;
    padding-right: 14px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s visibility, 0.3s opacity;
    min-width: 110px;
    max-width: 143px;
    width: max-content;
    text-align: center;
    font-weight: 600;
    font-style: normal;
  }
  .user-flag:hover>.flag-dropdown, .player-flag:hover>.flag-dropdown {
    visibility: visible;
    opacity: 1;
  }

.banner-bg {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    box-shadow: inset 2000px 2000px 0px 0px rgba(23, 26, 28, 0.25);
}

.banner-bg::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-image: linear-gradient(180deg,rgba(0, 0, 0, 0.24),rgba(0, 0, 0, 0.62));
}

.leaderboard-main-bg {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 24px 24px;
  overflow-x: auto;
}

.leaderboard-table {
  width: 100%;
  white-space: nowrap;
  text-align: center;
  border-spacing: 0 3px;
  border-collapse: separate;
  padding-bottom: 24px;
  transition: 0.2s ease;
}

.leaderboard-column {
  background-color: #eee;
  color: #222;
  height: 38px;
  font-size: 12px;
  background-color: hsl(var(--main), 15%, 25%);
}

tr td {
  padding: 6px 0;
}

.column-player-rank {
  padding: 0 10px;
  text-align: center;
  background-color: hsl(var(--main), 15%, 27%) !important;
  min-width: 44px;
  font-weight: 600;
  font-size: 13px;
  color: #fff;
}

.column-player-score-rank {
  font-size: 20px;
  vertical-align: middle;
}

.column-player-name {
  padding: 10px 10px;
  font-weight: 600;
  text-align: left;
  font-size: 13px;
}

.column-player-name a {
  color: #fff !important;
}

.t-heading {
  font-weight: 400;
  color: #fff;
  opacity: 0.7;
  padding: 5px 12px;
  text-align: center !important;
  font-size: 12px;
}

.t-heading--score {
  padding: 5px 20px;
}

.t-heading--main {
  width: 100%;
  text-align: left !important;
}

.t-heading--time {
  padding: 5px 32px;
}

.t-heading--mods {
  padding: 5px 20px;
}

.t-column:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.t-column:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

tr.leaderboard-column td {
  font-weight: 600;
  border-bottom: hsl(var(--main), 20%, 30%);
  transition: 0.1s background-color;
  color: #fff !important;
  text-align: center;
}

.leaderboard-column:first-child .column-player-rank {
  color: rgb(247, 200, 45) !important;
}

.leaderboard-column:nth-child(2) .column-player-rank {
  color: rgb(192, 192, 192) !important;
}

.leaderboard-column:nth-child(3) .column-player-rank {
  color: rgb(192, 136, 99) !important;
}

table td,
table th {
  vertical-align: baseline;
}

.leaderboard-column:hover td:not(:first-child) {
  background-color: hsl(var(--main), 20%, 30%);
}

.temp-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 12px;
  padding-bottom: 3px;
}
